<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title><fa-icon icon="map-marker-alt"></fa-icon> Place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="placeDetail">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <h2>Places will be here..</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
