<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title><fa-icon icon="cog"></fa-icon> Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="app-setting">

    <div class="flh-wrap">
      <h6>App setting</h6>
    </div>

    <ion-list lines="full">
      <ion-item button routerLink="/tabs/setting/amenity">
        <ion-label>Amenity</ion-label>
      </ion-item>
    
      <ion-item button>
        <ion-label>Other settings</ion-label>
      </ion-item>
    </ion-list>

    <div class="flh-wrap">
      <h6>Accounts</h6>
    </div>

    <ion-list lines="full">
      <ion-item button>
        <ion-label>Setting 1</ion-label>
      </ion-item>
    
      <ion-item button>
        <ion-label>Setting 2</ion-label>
      </ion-item>
    </ion-list>

  </div>
  
</ion-content>
