<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis necessitatibus unde, molestias repellat odio dolore pariatur labore amet, voluptates magnam nisi est tenetur eius non recusandae ipsam dicta eum doloremque?</p>
</ion-content>
