/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

ul.noStyle {list-style: none; padding: 0; margin: 0 0 20px 0;}
hr {
	background: #CCC;
}
.app-banner {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#201913+0,9a653e+100 */
    background: #201913; /* Old browsers */
    background: -moz-linear-gradient(top,  #201913 0%, #9a653e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #201913 0%,#9a653e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #201913 0%,#9a653e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201913', endColorstr='#9a653e',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    padding: 25px 15px 50px;
    h2 {
        margin: 0 0 20px 0;
    }
    ion-searchbar {padding: 0; height: 36px;}
    .searchbar-input {
        background: rgba(255, 255, 255, 0.4);
        padding-left: 42px !important;
        padding-right: 20px;
        color: #FFF;
    }
    .searchbar-search-icon {width: 18px; left: 10px; color: #FFF;}
}
.placeList {
	border-top-left-radius: 25px;
	margin-top: -25px;
	background-color: #FFF;
	border-top-right-radius: 25px;
    padding: 10px;

    .cardIcon {font-size: 40px; display: inline-block; margin-bottom: 5px; color: #c0ab3f;}
    ion-card-subtitle {color: #000000;}
    ion-card {margin: 10px;}
}
.logo {
	font-size: 20px;
	margin-bottom: 20px;
    text-align: center;
    fa-icon {
        color: #ffd80b;
        margin-right: 10px;
    }
    span {font-weight: bold; font-style: italic;}
}
ion-tab-button {opacity: 0.4;}
ion-tab-button.tab-selected {opacity: 1;}
ion-tab-button ion-icon {font-size: 25px !important;}
.mapOuter {
	margin: 10px 10px 25px 10px;
	box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    overflow: hidden;
}
#map {height: 45vh;}
ion-back-button {margin-left: 7px; font-size: 12px !important; color: #c0ab3f;}
.pop-card b {
	display: block;
	color: #c0ab3f;
}
.pop-card p {
	margin: 0 0 7px 0;
}
ion-list-header {margin-bottom: 10px; position: relative; min-height: auto; 
    > span {display: inline-block; background-color: #FFF; z-index: 1; padding-right: 15px; text-transform: capitalize;}
}
ion-list-header::after {content: ''; position: absolute; height: 1px; width: 100%; background-color: #c0ab3f; left: 50px; top: 50%;}
.card-inner {
	display: flex;
	align-items: center;
    ion-card-content {
        flex-grow: 1;
        width: calc(100% - 110px);
        padding: 10px;
        h2 {font-weight: 700;}
    }
}
.card-img-left {
	width: 70px;
}
.card-img-right {
	width: 40px;
	padding-right: 15px;
	text-align: center;
	font-size: 22px;
    cursor: pointer;
}
.placeListing {
    ion-card {margin: 3px 10px;}
}
.place-count {color: #c0ab3f;}
ion-header ion-title fa-icon {
	color: #c0ab3f;
	font-size: 14px;
	margin-right: 5px;
}
.placeDetail-banner ion-card {margin: 0;}
.placeDetail-banner {
	height: 37vh;
    position: relative;
    img {width: 100%; height: 100%; object-fit: cover; display: block;}
    .fabIcon {background-color: #c0ab3f; color: #FFF; height: 40px; width: 40px; text-align: center; line-height: 40px; 
        position: absolute; right: 20px; bottom: -20px; border-radius: 50%; cursor: pointer;}
}
.placeDetail {
	padding: 20px;
    h2 {
        margin: 0 0 7px 0;
        font-weight: bold;
    }
    .rating {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
        font-size: 12px;
        .total-rate {
            height: 22px;
            line-height: 22px;
            margin-right: 10px;
            background-color: #269105;
            color: #FFF;
            padding: 0 10px;
            border-radius: 10px;
            font-weight: bold;
        }
        .voter-count {
            margin-left: 10px;
            margin-top: 2px;
        }
    }
    .address {
        display: flex;
        margin-bottom: 15px;
        > fa-icon {color: #c0ab3f; margin-right: 15px; width: 15px;}
        > p {margin: 0; font-size: 14px; color: #5a5a5a;}
    }
    h6 {margin-bottom: 25px;}
}

.review-wrap {
    ion-card {
        margin: 0 0 15px 0;
        .card-img-left {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 10px;
            > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .card-inner ion-card-content {
            width: calc(100% - 80px);
            h2 {
                margin-bottom: 5px;
            }
        }
    }
} 

.review-wrap {
    strong {font-size: 14px; margin-bottom: 15px;}
    p {font-size: 12px; color: #5a5a5a; line-height: 1.455em;}
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
        margin-right: 10px;
        a {
            color: #c0ab3f;
            font-size: 20px;
        }
    }
}

.app-setting {
    .form-group {
        label {
            display: block;
            margin-bottom: 10px;
        }
        ng-select fa-icon {
            width: 20px;
            text-align: center;
            margin-right: 10px;
            display: inline-block;
        }
    }
    ion-card {
        overflow: visible;
    }
    h2 {
        margin: 0 0 25px 0;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        position: relative;

        span {display: inline-block; position: relative; background-color: #FFF; z-index: 1; padding: 0 15px; 
            text-transform: capitalize;}
        &::after {content: ''; position: absolute; height: 1px; width: 100%; background-color: #CCC; left: 0; top: 50%;}
    }
}

formly-field {display: block; margin-bottom: 15px;}
[routerlink] {cursor: pointer;}
.rating-dis-wrap {
    color: #a6a6a6;
    ionic-rating-component {
        display: inline-block;
        margin-left: 3px;
    }
    .place-distance {
        display: inline-block;
        color: #c0ab3f;
        font-weight: bold;
        font-size: 14px;
        margin-right: 12px;
    }
}
.dot-dot { 
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}