<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title><fa-icon icon="search"></fa-icon> Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mapOuter">
    <div id="map"></div>
  </div>
  <div class="placeListing">
    <ion-list-header><span>{{placeName}} <span class="place-count">(10)</span></span></ion-list-header>
    <ion-grid>
      <ion-row *ngIf="places">
        <ion-col size="12" *ngFor="let place of places[placeName]; let i = index">
          <ion-card routerLink="/tabs/place">
            <div class="card-inner">
              <div class="card-img-left">
                <img src="./assets/images/food.jpg">
              </div>
              <ion-card-content>
                <h2>{{place.name}}</h2>
                <p>{{place.address}}</p>
                <ionic-rating-component #rating
                  activeIcon = "star"
                  defaultIcon = "star-outline"
                  activeColor = "#c0ab3f" 
                  defaultColor = "#c0ab3f"
                  readonly="false"
                  rating="4"
                  fontSize = "15px"
                  (ratingChanged)="onRatingChange($event)">
                </ionic-rating-component>
              </ion-card-content>
              <!-- <ion-icon name="star-outline"></ion-icon> -->
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>