<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home-screen">
  <div class="app-banner">
    <div class="logo">
      <fa-icon icon="map-marker-alt"></fa-icon><span>Waris</span>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>Find your perfect place..!</h2>
          <ion-searchbar placeholder="Find here.."></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="placeList">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of placeList; let i = index">
          <ion-card [routerLink]="[item.link, item.search]">
            <ion-card-content class="ion-text-center">
              <fa-icon class="cardIcon" icon="{{item.icon}}"></fa-icon>
              <ion-card-subtitle class="ion-no-margin">{{item.name}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
